

input {
    font-size: larger;
    border-color:black;
    margin-top:5px;
   padding:10px 50px;
   border-radius: 5PX;
}
button {
    font-size: larger;
    border-color: blueviolet;
    margin-top:5px;
    margin-left:5px;
   padding: 9px 30px;
   border-radius: 5PX;
   color: white;
   background-color: blueviolet;
   
}
